<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<body>
  <br>
  <br>
  <div class="container d-flex justify-content-center">
                 
    <div class="card p-3 py-4">
        
        <div class="text-center">
            <div class="logo">
              <img src="assets/icon/refa.jpg">
            </div>
            <h3 class="mt-2">Muhammad Refa Fatur Rahman</h3>
            <span class="mt-1 clearfix">NPM   :12522022</span>
            <br>
            <span class="mt-1 clearfix">PRODI   : TEKNIK INFORMATIKA</span>
            <br>
            <span class="mt-1 clearfix">Jenis Kelamin : Laki-Laki</span>
            <br>
            <span class="mt-1 clearfix">Password   : 12522022</span>
        </div>
    </div>
</div>

  
  <button class="btn mt-3" >Ubah Profile</button>
  <button class="btn mt-3" (click)="logout()">Logout</button>

</body>


