ion-content{
  overflow-y: scroll;
  overflow-x: scroll;
}

body{
  overflow-y: scroll;
  overflow-x: scroll;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
tbody td {
  font-weight: 500;
  color: #999999;
}
